﻿/*
Juan José Rincón Sotelino - Programación Web
*/

*{ 
    text-decoration: none;
    box-sizing:border-box  
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
 }

.slideshow-container {
    padding-top: 30px;
    max-width: 1000px;
    position:relative;
    margin:auto;
}

.container {
    text-align: center;
}

.text {
    color:#f2f2f2;
    font-size:15px;
    padding:8px 12px;
    position:absolute;
    bottom:8px;
    width:100%;
    text-align:center;
}

.numbertext {
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}

*{
    -webkit-animation-name:fade
    -webkit-animation-duration:1s;
    animation-name:fade;
    animation-duration:1.5s;
}

.PrimerEjemplo {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.btn btn-primary {
    text-align: center;
}

.center-btn-menu {
    text-align: center;
}

.center-padding {
    padding-top:30px;
}

.padding{
    text-align: center;
    padding:100px;
}

.table{
    text-align: 0 auto;
    border-width: 1px; 
    border-style: double;
}

.btnmenu {
    text-align:center;
}

.formleft {
    text-align: left;
}

.eventcenter {
    text-align: center;
}

@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity:1}
}

@keyframes fade {
    from{opacity:.4}
    to{opacity:1}
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header {
    background-image: url("../img/fondo.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header nav {
    height: 55px;
    background: #111111;
    text-align: center;
}

.icono {
    display: none;
}

.enlaces {
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    display: inline-flex;
    text-align: center;
}

.enlaces a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 4px 0;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
    outline:none;text-decoration:none;}a:link, a:visited
}

.enlaces a:hover,
.active {
    border-top: 2px solid coral;
    border-bottom: 2px solid coral;
}

header .textos {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}

header .textos h1 {
    text-decoration: none;
    font-size: 95px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 10px;
}

header .textos h2 {
    font-size: 30px;
    font-weight: 600;
}

.hvr-wobble-vertical{

    color: #FFFFFF;

}

ul{
    list-style: none;
}
#menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}
#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
#menu>li{
    float: left;
    text-align:center
}
#menu>li>ul{
    display: none;
}
#menu>li:hover>ul {
    display:block;
}
header .textos h1 a:hover {
    color: white;
    text-decoration: none;
}
header .textos p a {
    font-size: 15px;
    color: #545b62;
    font-weight: bold;
}

#recuadro1 {
    left: 30px;
    position: relative;
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    height: 100px;
    padding: 4px;

    animation-name: animacion1;
    animation-duration: 4s;
    animation-direction: alternate;
    -moz-animation-name: annimacion1;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-name: animacion1;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;   
}


body{
    text-align: -webkit-center;
}

.menucenter {

    text-align:center;
}

.menucenter.collapse {
    display: none;
}

.colormenu {
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white !important;
}

.btncolor {
    background-color:#6C757D !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6C757D;
    border-color: #6C757D !important;
}


@keyframes animacion1 {

    0%
    {
        left:30px;
        top:5px;
    }

    25%
    {
        left:300px;
        top:5px;
    }

    50%
    {
        left:300px;
        top:100px;
    }

    75%
    {
        left:30px;
        top:100px;
    }

    100%
    {
        left:30px;
        top:5px;
    }

    from {
        left: 30px;
        background-color: #ddd;    
    }

    to {
        left: 300px;
        background-color: #ff0;    
    }

}

@-moz-keyframes animacion1{

    0%
    {
        left:30px;
        top:5px;
    }

    25%
    {
        left:300px;
        top:5px;
    }

    50%
    {
        left:300px;
        top:100px;
    }

    75%
    {
        left:30px;
        top:100px;
    }

    100%
    {
        left:30px;
        top:5px;
    }


    from {
        left: 30px;
        background-color: #ddd;        
    }

    to {
        left: 300px;
        background-color:#ff0;
    }  
}

@-webkit-keyframes animacion1{

    0%
    {
        left:30px;
        top:5px;
    }

    25%
    {
        left:300px;
        top:5px;
    }

    50%
    {
        left:300px;
        top:100px;
    }

    75%
    {
        left:30px;
        top:100px;
    }

    100%
    {
        left:30px;
        top:5px;
    }


    from {
        left: 30px;
        background-color: #ddd;               
    }

    to {
        left: 300px;
        background-color: #ff0;
    }
}


@media screen and (max-width:800px) {
    header nav {
        display: flex;
        justify-content: space-between
    }

    header .textos h1 {
        font-size: 60px;
    }

}

@media screen and (max-width:700px){

    header .textos h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:550px){

    button.btn.btn-secondary.dropdown-toggle {
        font-size :12px !important;
    }       
}

@media screen and (min-width:993px) { 
    .btnmenu {
        display: none !important;
    }
    .menucenter.collapse {
        display: block;
    }
}

